api-automation/build/
*.class
.DS_Store
api-automation/.gradle
api-automation/.idea/*
.vscode
api-automation/out
api-automation/tests_output
api-automation/test-output
api-automation/.classpath
api-automation/.project
api-automation/.settings/
api-automation/bin/
api-automation/tests_output/
.gradle
.idea

